/* импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* импорт библиотеки иконок */
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css');


*
{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif; 

}



a
{
    text-decoration: none;
    color: black;
}

li
{
    list-style: none;
}

/* delete arrows input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


:root
{
    --max-width: 1300px;

    --font-primary: 'Josefin Sans', sans-serif;;
    --header-heigth:100px
}

body
{
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
}
main
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  

}

.container_width {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto; 
    box-sizing: border-box;
}
