

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.catalog {
    display: flex;
    justify-content: center;
    padding: var(--side-padding);
    
 

        .listing_container {
            display: flex;
            flex-direction: column;
            width: 100%;

            .header_listing {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                .showing_result {
                    color: var(--primary-color);
                    font-size: 16px;
                }

                .sort {
                    display: flex;
                    gap: var(--gap);

                    p {
                        font-size: 14px;
                        color: var(--accent-color);
                    }

                    .product_sort {
                        padding: 10px;
                        border: 1px solid var(--accent-color);
                        border-radius: 5px;
                        background-color: var(--secondary-color);
                        cursor: pointer;
                        transition: all var(--transition-duration);

                        &:hover {
                            background-color: var(--hover-bg-color);
                            color: var(--hover-text-color);
                        }
                    }
                }
            }

            .listing {
                display: flex;
                flex-wrap: wrap;
                gap: var(--gap);

                .item_arrival {
                    width: calc(33.33% - var(--gap));
                    background-color: var(--secondary-color);
                    padding: 15px;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: transform var(--transition-duration);

                    &:hover {
                        transform: translateY(-5px);
                    }

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                        transition: opacity var(--transition-duration);

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .item_name {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                        color: var(--primary-color);
                    }

                    .item_price {
                        font-size: 16px;
                        color: var(--primary-color);
                        font-weight: bold;
                        margin-top: 5px;
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                gap: var(--gap);
                flex-wrap: wrap;
                margin-top: 20px;
                max-width: 100%;

                .pagination_element {
                    padding: 10px;
                    border: 1px solid var(--accent-color);
                    border-radius: 5px;
                    text-align: center;
                    color: var(--accent-color);
                    font-weight: bold;
                    cursor: pointer;
                    transition: background-color var(--transition-duration), color var(--transition-duration);

                    &:hover {
                        background-color: var(--hover-bg-color);
                        color: var(--hover-text-color);
                    }

                    &.active {
                        background-color: var(--hover-bg-color);
                        color: var(--hover-text-color);
                    }
                }
            }
        }
    }


@media (max-width: 768px) {
    .catalog {
        .container_width {
            flex-direction: column;
            padding: 15px;
        }

        .listing_container {
            .listing {
                flex-direction: column;
            }

            .item_arrival {
                width: 100%;
            }

            .filter_panel {
                max-width: 100%;
            }
        }
    }
}
