body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.catalog {
  display: flex;
  justify-content: center;
  padding: var(--side-padding);
}
.catalog .listing_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.catalog .listing_container .header_listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.catalog .listing_container .header_listing .showing_result {
  color: var(--primary-color);
  font-size: 16px;
}
.catalog .listing_container .header_listing .sort {
  display: flex;
  gap: var(--gap);
}
.catalog .listing_container .header_listing .sort p {
  font-size: 14px;
  color: var(--accent-color);
}
.catalog .listing_container .header_listing .sort .product_sort {
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all var(--transition-duration);
}
.catalog .listing_container .header_listing .sort .product_sort:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}
.catalog .listing_container .listing {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.catalog .listing_container .listing .item_arrival {
  width: calc(33.33% - var(--gap));
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform var(--transition-duration);
}
.catalog .listing_container .listing .item_arrival:hover {
  transform: translateY(-5px);
}
.catalog .listing_container .listing .item_arrival img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: opacity var(--transition-duration);
}
.catalog .listing_container .listing .item_arrival img:hover {
  opacity: 0.8;
}
.catalog .listing_container .listing .item_arrival .item_name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: var(--primary-color);
}
.catalog .listing_container .listing .item_arrival .item_price {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 5px;
}
.catalog .listing_container .pagination {
  display: flex;
  justify-content: center;
  gap: var(--gap);
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 100%;
}
.catalog .listing_container .pagination .pagination_element {
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  text-align: center;
  color: var(--accent-color);
  font-weight: bold;
  cursor: pointer;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}
.catalog .listing_container .pagination .pagination_element:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}
.catalog .listing_container .pagination .pagination_element.active {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

@media (max-width: 768px) {
  .catalog .container_width {
    flex-direction: column;
    padding: 15px;
  }
  .catalog .listing_container .listing {
    flex-direction: column;
  }
  .catalog .listing_container .item_arrival {
    width: 100%;
  }
  .catalog .listing_container .filter_panel {
    max-width: 100%;
  }
}/*# sourceMappingURL=catalog.css.map */